h3 {
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  font-size: 14px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  font-size: 30px;
}

h4 {
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
}

h5 {
  font-weight: bold;
  font-family: helvetica;
  font-size: 14px;
  font-kerning: auto
}

.m { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.t { 
  display: block;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  color:black;

}
img {
  margin-top: 0.2px;
  margin-bottom: 10px;
  margin-left: 0.5px;
  margin-right: 30px;
  border-style: inset;
}

#media ul{
  list-style: none;
  text-align:center;
}
#media li{
  display: inline;
}

.portfolio{
font-style: italic;
}

.aboutme{
  text-decoration: underline;
}

.style1{
  font-weight: bold;
  font-style: italic;
  font-family: helvetica;
  font-size: 14px;
}

.word{
  font-weight: bold;
  font-style: italic;
}
